.font1{
    font-family: 'Playfair Display', serif !important;
}

.font2{
    font-family: 'Raleway', sans-serif !important;
}

.font3{
    font-family: 'Roboto', sans-serif !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    width: 100%;
    margin: auto;
    background-color: #242833;
    overflow-x: hidden;
    line-height: 1.6;
    z-index: 99;
    
}

.navbar{
    position: sticky;
    top: 0px;
    z-index: 3;
}

.menu{
    height: 80px;
}

.menu a {
    text-decoration: none;
    color:#e0e3c4;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}


.menu li a {
    display: block;
    padding-right: 10px;
    text-decoration: none;
    color: beige;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #b5aa7d !important;
}



.logo {
    font-size: 24px;
    color: #e0e3c4;
    font-weight: 700;
    margin: 0%;
    padding: 0%;
    
}

.book-a-table{
    height: 40px;
    width: 140px;
    text-decoration: none;
    color: #e0e3c4;
    background-color: #b5aa7d;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: 10px 15px;
    border-color:  #988e68;
}

.book-a-table:hover{
background-color: #b5aa7d;
border-color:  #988e68;
transition: 1s all ease-in-out;
}


.text-primary {
    color: #b5aa7d !important;
    margin: 0%;
    padding: 0;
}

.header{
    background-image: url(../img/header-img.webp);
    position: relative;
    height: 100vh;
    min-height: 840px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    box-sizing: border-box;
}

.header-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(180deg,#242833 5.98%, rgba(69, 77, 86, 0.38) 30.04%, #242833 98.19% ) ;
}

.header-content{
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
}

h1{
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #e0e3c4;

}

.section-chooseus{
    background-color: #d8dbb3;
    position: relative;
    padding: 100px 0px; 
}

.subtitle {
    text-transform: uppercase;
    color: #b5aa7d;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .1rem;
}

.service {
    padding: 30px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.service .caption {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .2rem;
    color: #b5aa7d;
}

.sig-content-container {
    position: absolute;
    top: 50%;
    left: 0;
    /* -webkit-transform: translateY(-50%); */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.sig-content {
    width: 100%;
    background: #FFFFFF;
    border: solid 2px #b49383;
    box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
    padding-top: 70px;
    padding-left: 47px;
    padding-bottom: 69px;
    padding-right: 10px;
}



.page-subtitle {
    font-size: 36px;
    color: #b49383;
    line-height: 0.75;
}

.sig{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    padding-top: 102px;
    padding-bottom: 102px;
    padding-left: 220px;
}



.sig-title {
    margin-top: 6px;
    
}

.sig-title {
    font-size: 48px;
    color: #b5aa7d !important;
}

.sig-name {
    font-size: 24px;
    color: #232323;
    margin-top: 1px;
}

.sig-price {
    font-size: 24px;
    color: #636363;
}

.sig-content-list {
    margin-top: 4px;
    padding-left: 0%;
}

.sig-content-list ul{
    padding-left: 0%;
}

.sig-content-list ul li {
    font-size: 16px;
    color: #636363;
}

.sig-content-list ul li:not(:last-child)::after {
    display: inline-block;
    content: '/';
    font-size: 16px;
    color: #636363;
    margin-left: 5px;
    margin-right: 5px;
}

.order-button{
    height: 40px;
    width: 140px;
    text-decoration: none;
    color: #e0e3c4 !important;
    background-color: #b5aa7d;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: 10px 15px;
    border-color:  #988e68;
}

.order-button:hover{
    background-color: #b5aa7d;
    border-color:  #988e68;
    transition: 1s all ease-in-out;
}


.sig-image {
    width: 600px;
    height: 455px;
}  


 .sig-image img{ 
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
 }